.main-footer{
    margin-top: auto;
}


.banner{
    &__about-me{
        text-align: center;
        padding-top: 1rem;
   }
    &__title{
        color: black;
    }
}

.skills{
    &-list{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }

}